 <%= form_for @user, url: '/login', :method => :POST do |form| %>

      <% if flash.now[:alert] %>
        <ul class="error-message center-align">
          <% flash.now[:alert].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= form.email_field :email, class: 'validate form-field' , placeholder: ' Email'%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= form.password_field :password, class: 'validate form-field', placeholder: ' Password' %>
        </div>
      </div>
      <center>
      <br>
        <%= form.submit 'Login', class: 'btn btn-medium center-align waves-effect waves-light green  no-uppercase' %><br>
        <a style="font-size: 10px" href="/forgot_password"> Forgot Password? </a>
      </center>
    <% end %>
    <br>
    <section class="divider"></section>
    <br>
    <div class="center-align">
    <p>
    No account? <a href="/register">Register</a> or
    </p>
      <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-medium center-align waves-effect waves-light no-uppercase', style: "background-color: #3b5998" do %> <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; Login with facebook <% end %><br><br>
