<ul class="collection">


  <% @followers.each do |follower| %>



    <li class="collection-item avatar">

              <% if follower.uid && !follower.picture %>
                <%= link_to image_tag(follower.image, class: 'circle thumbprofile') %>
              <% else %>
                <%= link_to image_tag(follower.picture.url(:thumb), class: 'circle thumbprofile') %>
              <% end %>

    <p>
      <a href="/users/<%= follower.id %>"><%= follower.name %></a>
    </p>
    <p>
      <font class="messagedate">
        Following since <a href="/users/"></a> <%= follower.created_at.strftime("%B %-d, %Y") %>
      </font>
    </p>

     </li>

  <% end %>


</ul>