<ul class="collection">


  <% @following.each do |p| %>



    <li class="collection-item avatar">


              <% if p.uid && !p.picture_file_name %>
                <%= link_to image_tag(p.image, class: 'circle thumbprofile') %>
              <% else %>
                <%= link_to image_tag(p.picture.url(:thumb), class: 'circle thumbprofile') %>
              <% end %>


    <p>
      <a href="/users/<%= p.id %>"><%= p.name %></a>
    </p>
    <p>
      <font class="messagedate">
        Following since <a href="/users/"></a> <%= p.created_at.strftime("%B %-d, %Y") %>
      </font>
    </p>

     </li>

  <% end %>


</ul>