<div class="row">
  <div class="col s4"></div>
   <div class="col s4 form-block">
      <h4 class="center-align">Register</h4>
      <h6 class="center-align"> It's free and always will be! </h6>
      <%= form_for @user, url: '/register'  do |form| %>
        <% if @user.errors.any? %>
          <ul class="error-message">
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
            <%= form.text_field :name, class: 'validate form-field', placeholder: 'Full Name'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= form.email_field :email, class: 'validate  form-field', placeholder: 'Email'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_open</i>
            <%= form.password_field :password, class: 'validate  form-field', placeholder: 'Password' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <%= form.password_field :password_confirmation, class: 'validate  form-field', placeholder: 'Confirm Password' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">photo_camera</i>


            <%= form.file_field :picture, class: 'validate' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">face</i>
            <%= form.text_field :about, class: 'validate form-field' %>
          </div>
        </div>

        <center>
          <%= form.submit 'Register', class: 'btn btn-medium center-align waves-effect waves-light green darken-2 no-uppercase' %>
        </center><br>
      <% end %>
    </div>
    <div class="col s4"></div>
</div>


