  <center>
  <ul class="collapsible" data-collapsible="expandable" style="width: 65%">
    <li>
      <div class="collapsible-header active blue darken-1 white-text"><i class="material-icons">face</i>Register</div>
      <div class="collapsible-body">

        <ul class="collection">
        <li class="collection-item game-alert" style="background: rgba(255, 255, 255, 0.8)">




 <div class="row">
        <div class="input-field col s12">




      <%= form_for @user, url: '/register'  do |form| %>
        <% if @user.errors.any? %>
          <ul class="error-message">
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
            <%= form.text_field :name, class: 'validate form-field', placeholder: 'Full Name'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= form.email_field :email, class: 'validate  form-field', placeholder: 'Email'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_open</i>
            <%= form.password_field :password, class: 'validate  form-field', placeholder: 'Password' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <%= form.password_field :password_confirmation, class: 'validate  form-field', placeholder: 'Confirm Password' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">photo_camera</i>
            <%= form.file_field :picture, class: 'validate  form-field', style: 'padding-top: 10px; padding-bottom: 10px'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">face</i>
            <%= form.text_area :about, class: 'validate form-field', placeholder: 'About you', style: "height: 60px" %>
          </div>
        </div>

        <center><br>
          <%= form.submit 'Register', class: 'btn btn-medium center-align waves-effect waves-light blue darken-1 no-uppercase' %>
        </center><br>
      <% end %>
    </div>
    <div class="col s4"></div>
</div>



 </li>
        </ul>
</center>
        </div>


