<div class="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">




<table
<tr>
<td width="29%" valign="top">


<%= link_to image_tag(@user.picture.url(:profile), class: 'circle profilepic') %>

</td>
<td valign="top">
        <p id="event-title" style="font-size: 160%"><%= @user.name %></p>

        <p style="font-size: 80%">
          Joined <%= @user.created_at.strftime("%B %-d, %Y") %>
        </p>
        <p style="font-size: 92%">
          <br>
          Affogato four loko meggings kombucha trust fund. Farm-to-table asymmetrical seitan ethical jean shorts tousled woke mumblecore, +1 8-bit health goth. Prism brooklyn yuccie VHS avocado kombucha.
        </p>

        <table>
          <tr>
            <td width="50%">
              <p>
                <span class="new badge blue darken-1" data-badge-caption="games organized"><%= @created.length %></span>
                <span class="new badge green" data-badge-caption="games joined"><%= @user.events_users.count %></span>
              </p>
            </td>
            <td>
              <div id="follow_form" style="float: right">
                <% if current_user.following?(@user) %>
                  <%= render 'unfollow' %>
                <% else %>
                  <%= render 'follow' %>
                <% end %>
              </div>
            </td>
          </tr>
        </table>

        <br>
</td>
</tr>
</table>
      </div>
    </div>
  </div>
</div>

<div class="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">

 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3" class="active"><a href="#activity">Activity</a></li>

        <% if @created.length > 0 %>
          <li class="tab col s3"><a href="#organized">Organized (<%= @created.length %>)</a></li>
        <% else %>
          <li class="tab col s3 disabled"><a href="#organized">Organized (<%= @created.length %>)</a></li>
        <% end %>

        <% if @user.followers.count > 0 %>
          <li class="tab col s3" id="followers_tab"><a href="#followers">Followers (<%= @user.followers.count %>)</a></li>
        <% else %>
          <li class="tab col s3 disabled" id="followers_tab"><a href="#followers">Followers (<%= @user.followers.count %>)</a></li>
        <% end %>

        <% if @user.following.count > 0 %>
          <li class="tab col s3"><a href="#following">Following (<%= @user.following.count %>)</a></li>
        <% else %>
          <li class="tab col s3 disabled"><a href="#following">Following (<%= @user.following.count %>)</a></li>
        <% end %>




      </ul>
    </div>

    <div id="activity" class="col s12">

      <%= render 'activity' %>

    </div>

    <div id="organized" class="col s12">
      <%= render 'organized' %>
    </div>

    <div id="followers" class="col s12">
      <%= render 'followers' %>
    </div>

    <div id="following" class="col s12">
      <%= render 'following' %>
    </div>



  </div>

</div>
</div>
  </div>
  </div>




  </div>