<div>
  <% min_people = event.min_people %>
  <% joined_count = event.events_users.count %>
  <% width = ((joined_count.to_f/min_people.to_f)*100).to_s + "%" %>
  <% @user = User.find(event.user_id) %>

  <div class="col s12 m7" style="width: 100%">
    <div class="card horizontal" style="border: 1px solid #e3f2fd">
      <div class="card-stacked">
        <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">
           <div style="float:right">
           <a href="/users/<%= @user.id %>">
              <%= image_tag @user.picture.url(:thumb), class: 'circle thumbprofile' %>
            </a>
            </div>
            <p class = "card-header" style="margin-bottom: 9px"><span id="host_name_<%=event.id%>" data-host-id="<%=@user.id%>"><a href="/users/<%= @user.id %>" style="color: #888888"><%=@user.name %></a></span> needs at least <%=min_people%></span> players for <%= event.sport.name %> | <b> <span data-max-people="<%=event.max_people%>" id="remaining_count_<%=event.id%>"> <%=event.max_people - joined_count %> </span> more spots </b> open!</p>
            <div style="float:left">
              <img src="https://s3.ca-central-1.amazonaws.com/crowdgoal/static/icons/<%= event.sport.icon %>.ico" class="sportsicon">
            </div>
            <h5 id="event-title"><%= link_to event.title, event %></h5>


              <div class="vertalign">
                <i class="material-icons md-18 eventicons" style="font-size: 100%">date_range</i>
                <span class="eventfont">
                  &nbsp;<%= event.start_date.strftime("%A, %B %-d, %Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                </span>
              </div>
              <div class="vertalign">
                <i class="material-icons md-18 eventicons" style="font-size: 100%">access_time</i>
                <span class="eventfont">
                  &nbsp;<%= event.start_time.strftime("%l:%M %p") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                </span>
              </div>
              <div class="vertalign">
                <i class="material-icons md-18 eventicons" style="font-size: 100%">location_on</i>
                <span class="eventfont">
                  &nbsp;<a href="#modal1"><%= truncate(event.location, length:29) %></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                </span>
              </div>
               <div class="vertalign">
                <span class="eventfont">
                  &nbsp;<a href="#modal1">Details
                </span>
                <i class="material-icons md-18 vertalign" style="font-size: 85%">play_arrow</i>
                </a>
              </div>


        </div>
        <div class="card-action" style="padding-top: 0; padding-bottom: 0">
          <table width="100%">
            <tr>
              <td>
                <font style="font-size: 90%"> <b id="joined_count_<%=event.id%>"><%= joined_count >= min_people ? min_people : joined_count %></b> out of <b id="min_people_<%=event.id%>"><%= min_people %></b> required players have joined
                  <font style="color: #aaaaaa"> | Expires in <%= (event.start_date.to_date - Date.today).to_i %> days </font>
                </font>
                <div class="progress grey lighten-4" style="height: 12px; border: 1px solid #888888; margin-bottom: 6px;">
                  <% if (joined_count < min_people) %>
                    <div id = "progress_bar_<%=event.id%>" class="determinate blue darken-1"></div>
                  <% elsif (joined_count >= event.max_people) %>
                    <div id = "progress_bar_<%=event.id%>" class="determinate red darken-1"></div>
                  <% else %>
                    <div id = "progress_bar_<%=event.id%>" class="determinate green darken-1"></div>
                  <% end %>
                  <script type="text/javascript">
                    $("#progress_bar_<%=event.id%>").css("width"," <%= width %> ");
                  </script>
                </div>

              </td>
              <td align="right" width="17%">
                <div class="card-button" style="float: right">
                  <% if (event.events_users.find_by(user_id: current_user.id))%>
                    <button data-event-id="<%=event.id%>" data-user-id=<%=session[:user_id]%> id="withdraw_game_<%=event.id%>" class="withdraw-game-button waves-effect waves-light btn red lighten-1 no-uppercase" >
                      <i class="material-icons left" style="vertical-align: middle;">remove_circle_outline</i> Withdraw
                    </button>
                      <% if (event.user_id == current_user.id) then %>
                        <script type="text/javascript">
                          $("#withdraw_game_<%=event.id%>").addClass("disabled");
                        </script>
                      <% end %>
                  <% else %>
                    <% if (joined_count >= event.max_people) then %>
                      <button data-event-id="<%=event.id%>" data-user-id=<%=session[:user_id]%> id="join_game_<%=event.id%>" class="join-game-button waves-effect waves-light btn green disabled no-uppercase">
                        <i class="material-icons left">person_add</i> Join Game
                      </button>
                    <% else %>
                      <button data-event-id="<%=event.id%>" data-user-id=<%=session[:user_id]%> id="join_game_<%=event.id%>" class="join-game-button waves-effect waves-light btn green no-uppercase">
                        <i class="material-icons left">person_add</i>Join Game
                      </button>
                    <% end %>
                  <% end %>
                </div>
              </td>
              <td width="10%">
                <!-- <div class="fb-share-button" data-href="https://stormy-reef-34928.herokuapp.com/events" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstormy-reef-34928.herokuapp.com%2Fevents&amp;src=sdkpreparse">Share</a></div> -->

                <button id="fb-publish">Share to Facebook</button>

                  <script type="text/javascript">
                  (function() {
                      // FB.init({
                      //     appId: 1303393716414144, cookie: true, status: true, xfbml: true, oauth: true
                      // });
                      var fbShare = function() {
                          FB.ui({
                              method: "feed",
                              display: "iframe",
                              link: "https://stormy-reef-34928.herokuapp.com/events",
                              caption: "Crowd Goal!!!",
                              description: "It is a social networking portal to create and organize events!",
                              picture: "http://science-all.com/images/images/images-23.jpg"
                          });
                      };
                      $("#fb-publish").click(function() {
                          FB.login(function(response) {
                              if (response.authResponse) {
                                  fbShare();
                             }
                          }, {scope: 'publish_stream'});
                      });
                  })();
                  </script>



              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
