<% @messages.each do |message| %>

<% @author = User.find(message.user_id) %>

    <li class="collection-item avatar">

              <% if @author.uid && !@author.picture %>
                <%= link_to image_tag(@author.image, class: 'circle thumbprofile') %>
              <% else %>
                <%= link_to image_tag(@author.picture.url(:thumb), class: 'circle thumbprofile') %>
              <% end %>




    <p>
      <%= message.message %>
    </p>
    <p>
      <font class="messagedate">
        Posted by <a href="/users/<%= @author.id %>"><%= @author.name %></a> on <%= message.created_at.strftime("%A, %B %-d at %l:%M %p") %>
      </font>
    </p>


    <!-- If message author is logged in, allow delete option -->

    <% if current_user && current_user.id == message.user_id %>

      <%= link_to message_path(message), method: :delete, data: { confirm: 'Delete message?' } do %>
        <div class="delete secondary-content red-text">
        <font class="deletefont">delete</font>
        <i class="material-icons">indeterminate_check_box</i>
        </div>
      <% end %>

    <% end %>



    </li>

<% end %>