<ul class="collection">
  <li class="collection-item avatar">

      <%= form_for(:message, :url => messages_path) do |f| %>

        <div class="row">

          <div class="input-field col s10">
            <%= f.text_area :message, class: "materialize-textarea", placeholder: "Add a message" %>
            <%= f.hidden_field :event_id, value: @event.id %>
          </div>

          <div class="input-field col s2">
            <%= button_tag( :class => "btn-floating btn-large waves-effect waves-light green addmessage", :style => "padding: 0px") do %><i class="material-icons">add</i><% end %>
          </div>

        </div>

      <% end %>

  </li>

<%= render 'messageslist' %>

</ul>

