<div class="col s12 m7" style="width: 100%;"">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">

        <span class="card-title" style="font-size: 160%">Create Event</span>
        <hr />
<br>
<%= form_for :event do |f| %>
<div class="row">






      <div class="row">



        <div class="input-field col s6">

  <i class="material-icons prefix">art_track</i>



 <%= f.select :sport_id, options_from_collection_for_select(Sport.all.order(:name), :id, :name), { prompt: 'Choose a Sport' } %>


  </div>
</div>




<div class="row">
          <div class="input-field col s8">

           <i class="material-icons prefix">volume_up</i>

           <%= f.text_field :title, 'data-length': 100 %>




            <label for="event_title">Event title (keep it short!)</label>
          </div>
        </div>



<div class="row">
<div class="input-field col s4">

<i class="material-icons prefix">today</i>
<%= f.text_field :start_date, class: 'datepicker' %>


 <label for="event_start_date">Date</label>
</div>

<div class="input-field col s4">
<i class="material-icons prefix">access_time</i>

<%= f.select :start_time, options_for_select([
['12:00 AM', '1']
  ]), include_blank: true %>


 <label for="start_time">Time</label>
</div>


</div>

<div class="row">









<div class="row">
<div class="input-field col s8">
<i class="material-icons prefix">subject</i>
        <textarea id="details" class="materialize-textarea"></textarea>
          <label for="details">Description (any details you'd like to provide)</label>
        </div>
      </div>



<div class="row">

          <div class="input-field col s4">

<i class="material-icons prefix">group</i>

           <%= f.text_field :min_players %>

<label for="event_min_players">Minimum players</label>



          </div>

          <div class="input-field col s4">



           <%= f.text_field :max_players %>


<label for="event_max_players">Maximum players</label>


          </div>
        </div>















 <div class="row">



        <div class="input-field col s8">


<div class="file-field input-field">


      <div class="btn">
        <span><i class="material-icons white-text" style="font-size:170%">photo_camera</i></span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">

        <input class="file-path validate" type="text" placeholder="Event image (optional)">

      </div>
    </div>


  </div>

  </div>

      <div class="row">
        <div class="input-field col s12">



          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>

  </div>



<%= submit_tag("Submit") %>

    <% end %>

</div>
</div>
</div>
</div>



