<div class="col s12 m7" style="width: 70%">



  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">



        <div class="fixed-action-btn" style="position:absolute; top:0; bottom:0">
          <a>
            <i class="btn-floating small material-icons transparent green-text">more_vert</i>
          </a>
          <ul>
            <li><a class="btn-floating blue" id="edit-form-button" ><i class="material-icons">mode_edit</i></a></li>
            <li><a class="btn-floating red" id="delete-form-button"><i class="material-icons">delete</i></a></li>
          </ul>
        </div>




<% event = @event %>
<% min_people = event.min_people %>
  <% joined_count = event.events_users.count %>
  <% width = ((joined_count.to_f/min_people.to_f)*100).to_s + "%" %>
<% @host = User.find(event.user_id) %>


<%
playing = EventsUser.where({event_id: @event.id, user_id: session[:user_id]})

%>

             <div class="organizer">
             <table>
              <tr>
                <td>
             <b>Organized by:</b><br>
             <a href="/users/<%= @host.id %>"><%= @host.name %></a>
             </td>
             <td>
              <img src="https://www.linkedin.com/mpr/mpr/AAEAAQAAAAAAAAt2AAAAJGUyM2NlYjgxLTIxYWMtNDJkMi04NDQyLWI4YzQ1MTJhNjA4OA.jpg" class="circle" width="50">
              </td>
              </tr>
              </table>
            </div>
            <p class = "card-header" style="margin-bottom: 9px">


            <div style="float:left">

              <img src="https://s3.ca-central-1.amazonaws.com/crowdgoal/static/icons/<%= event.sport.icon %>.ico" class="sportsicon">
            </div>
            <p id="event-title" style="font-size: 160%"><%= event.title %></p>


            <i class="material-icons" style="font-size: 16px; color: #888888; vertical-align: middle">date_range</i>

              <font class="eventfont"><%= event.start_date.strftime("%A, %B %-d, %Y") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</font>

            <i class="material-icons" style="font-size: 18px; color: #888888; vertical-align: middle">access_time</i>
            <font class="eventfont"><%= event.start_time.strftime("%l:%M %p") %></font>



        </div>
        <div class="card-action" style="padding-top: 0; padding-bottom: 0">
          <table width="100%">
            <tr>
              <td>
                <font style="font-size: 90%"> <b id="joined_count_<%=event.id%>"><%= joined_count >= min_people ? min_people : joined_count %></b> out of <b id="min_people_<%=event.id%>"><%= min_people %></b> required players have joined
                  <font style="color: #aaaaaa"> | Expires in <%= ?? %> days </font>
                </font>
                <div class="progress grey lighten-4" style="height: 12px; border: 1px solid #888888; margin-bottom: 6px;">
                  <% if (joined_count < min_people) %>
                    <div id = "progress_bar_<%=event.id%>" class="determinate blue darken-1"></div>
                  <% elsif (joined_count >= event.max_people) %>
                    <div id = "progress_bar_<%=event.id%>" class="determinate red darken-1"></div>
                  <% else %>
                    <div id = "progress_bar_<%=event.id%>" class="determinate green darken-1"></div>
                  <% end %>
                  <script type="text/javascript">
                    $("#progress_bar_<%=event.id%>").css("width"," <%= width %> ");
                  </script>
                </div>

              </td>
              <td align="right">
                <div class="card-button" style="float: right">
                  <% if (event.events_users.find_by(user_id: session[:user_id]))%>
                    <button data-event-id="<%=event.id%>" data-user-id=<%=session[:user_id]%> id="withdraw_game_<%=event.id%>" class="withdraw-game-button waves-effect waves-light btn red lighten-1 no-uppercase" >
                      <i class="material-icons left" style="vertical-align: middle;">remove_circle_outline</i> Withdraw
                    </button>
                  <% else %>
                    <% if (joined_count >= event.max_people) then %>
                      <button data-event-id="<%=event.id%>" data-user-id=<%=session[:user_id]%> id="join_game_<%=event.id%>" class="join-game-button waves-effect waves-light btn green disabled no-uppercase">
                        <i class="material-icons left">person_add</i> Join Game
                      </button>
                    <% else %>
                      <button data-event-id="<%=event.id%>" data-user-id=<%=session[:user_id]%> id="join_game_<%=event.id%>" class="join-game-button waves-effect waves-light btn green no-uppercase">
                        <i class="material-icons left">person_add</i>Join Game
                      </button>
                    <% end %>
                  <% end %>
                </div>

              </td>
            </tr>
          </table>








</div>

  </div>
</div>



<div class="col s12 m7 yellow">



  <div class="card horizontal yellow" style="border: 1px solid #e3f2fd">
    <div class="card-stacked yellow">
      <div class="card-content small green" style="padding-top: 8px; padding-bottom: 0;">

<br>

</div>
</div>
</div>
</div>




<section id="event-edit-form" width="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 0px; padding-bottom: 0; margin:0;">
        <%= render 'event_form', event: @event %>
      </div>
    </div>
  </div>
</section>

<div class="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">

 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2" class="active"><a href="#location">Location</a></li>
        <li class="tab col s2"><a href="#details">Details</a></li>
        <li class="tab col s2"><a href="#players">Players</a></li>

        <% if playing.length > 0 %>
          <li class="tab col s2"><a href="#messages">Messages</a></li>
        <% else %>
          <li class="tab col s2 disabled"><a href="#messages">Messages</a></li>
        <% end %>

        <li class="tab col s2 disabled"><a href="#photos">Photos</a></li>
        <li class="tab col s2"><a href="#reviews">Reviews</a></li>
      </ul>
    </div>

    <div id="location" class="col s12">
      <%= render 'location' %>
    </div>

    <div id="details" class="col s12">
      <ul class="collection">
        <li class="collection-item">
          <%= @event.details %>
        </li>
      </ul>
    </div>

    <div id="players" class="col s12">
      <%= render 'players' %>
    </div>

    <div id="messages" class="col s12">
      <%= render 'messages' %>
    </div>

    <div id="photos" class="col s12">Test 4</div>

    <div id="reviews" class="col s12">
      <%= render 'reviews' %>
    </div>

  </div>

</div>
</div>
  </div>
  </div>











