<div class="sideNav">



  <% if current_user %>

      <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active green white-text"><i class="material-icons">timer</i>My Games</div>

 <div class="collapsible-body" id="gameslist">

      <%= render 'layouts/games_list' %>

</div>
    </li>
    <li>
      <div class="collapsible-header active red-text text-darken-2"><i class="material-icons">notifications_active</i>Alerts</div>
      <div class="collapsible-body">
         <ul class="collection">
<%
sql = "Select messages.created_at as \"posted\",
events.id as \"event_id\", events.title, users.name, messages.message, Null as \"photocount\", 0 as \"user_id\"

FROM (((events_users
inner join events ON events_users.event_id = events.id)
inner join messages ON events_users.event_id = messages.event_id)
inner join users ON messages.user_id = users.id)
where events_users.user_id = #{current_user.id}
and messages.user_id != #{current_user.id}

UNION

Select galleries.created_at as \"posted\",
events.id as \"event_id\", events.title, users.name, Null as \"messages.message\", count(distinct photos.id) as \"photocount\", 0 as \"user_id\"

FROM ((((events_users
inner join events ON events_users.event_id = events.id)
inner join galleries ON events_users.event_id = galleries.event_id)
inner join photos ON galleries.id = photos.gallery_id)
inner join users ON galleries.user_id = users.id)
where events_users.user_id = #{current_user.id}
and galleries.user_id != #{current_user.id}
group by events.id, users.name, galleries.created_at

UNION

Select events.created_at as \"posted\",
events.id as \"event_id\", events.title, users.name, Null as \"messages.message\", Null as \"photocount\", users.id as \"user_id\"
FROM ((relationships
inner join events ON events.user_id = relationships.followed_id)
inner join users ON events.user_id = users.id)
where relationships.follower_id = #{current_user.id}


order by posted desc
limit 6"
@alerts = ActiveRecord::Base.connection.execute(sql)
%>



<% if @alerts.count > 0 %>


<% @alerts.each do |alert| %>
  <li class="collection-item side-alert" style="background: rgba(255, 255, 255, 0.6)">

    <% if alert['message'] %>
      <%= alert['name'] %> posted a new message in <a href="/events/<%= alert['event_id'] %>#messages"><%= alert['title'] %></a>.
    <% elsif alert['user_id'] > 0 %>
       <a href="/users/<%= alert['user_id'] %>"><%= alert['name'] %></a> created a new event: <a href="/events/<%= alert['event_id'] %>"><%= alert['title'] %></a>.
    <% elsif alert['photocount'] %>
      <%= alert['name'] %> posted <%= pluralize(alert['photocount'], 'new photo', 'new photos') %> in <a href="/events/<%= alert['event_id'] %>#photos"><%= alert['title'] %></a>.
    <% end %>



</li>
<% end %>


<% else %>
<li class="collection-item side-alert" style="background: rgba(255, 255, 255, 0.6)">
<center>
No alerts yet!
</center>
</li>

<% end %>


<% if @alerts.count > 5 %>
<li class="collection-item side-alert" style="background: rgba(255, 255, 255, 0.6); padding-top: 0; padding-bottom: 5px">
<div style="width: 100%; text-align: right"><a style="color: #e53935;" href="/users/<%= current_user.id %>#myalerts">View more <i class="material-icons md-18 vertalign" style="font-size: 85%">play_arrow</i></a></div>
</li>
<% end %>

</ul>






      </div>
    </li>

  </ul>


<%
#if not logged in
 else %>

     <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active green white-text"><i class="material-icons">person</i>Login</div>
      <div class="collapsible-body">

        <ul class="collection">
        <li class="collection-item game-alert" style="background: rgba(255, 255, 255, 0.7)">


<%= render 'sessions/loginform' %>


        </li>
        </ul>

        </div>

 <%
 # end if logged in
 end %>
  </div> <!-- end sidebar -->