<!DOCTYPE html>
<html>
  <head>
    <title>CrowdGoal</title>
    <% if @event then %>
    <meta property="og:url" content="https://stormy-reef-34928.herokuapp.com/events/<%=@event.id%>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%=@event.title%>">
    <meta property="og:description" content="<%=@event.details%>">
    <meta property="fb:app_id" content="1303393716414144">
    <meta property="og:image" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYV_seR0TYgcUrSGJa2GoD1BezmdZ6lJ6xqV8Tdwe34wae-MJzJA">
    <!-- https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRB5n6E6XvEUij0AJDTdaNPjYL3N7-cRqC1cFuapwxHZZnMPHsRuQ -->
    <!-- https://s3.ca-central-1.amazonaws.com/crowdgoal/static/background/baseball.jpg -->
    <meta property="og:site_name" content="CrowdGoal">
    <% end %>


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Mada:900" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.js"></script>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>

  </head>

  <body>
  <div id="fb-root"></div>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1781136752201370',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1781136752201370";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

    <%= render 'layouts/navbar' %>
      <div class="body-content">
      <!-- <br> -->
        <%= yield %>
  </div>

  <%= render '/layouts/sidebar' %>




      </body>
</html>