<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<script language="javascript">
$(document).ready(function() {
  $('select').material_select();

    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 2, // Creates a dropdown of 15 years to control year
    min: new Date(),
      max: new Date(2018,11,30),


  });
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered

$('.modal').modal();



 $(".button-collapse").dropdown();

// new google.maps.places.Autocomplete(
//   (document.getElementById('event_location')), {
//     types: ['geocode']
//   });
// getLocation();


 // function geolocate() {
 //        if (navigator.geolocation) {
 //          navigator.geolocation.getCurrentPosition(function(position) {
 //            var geolocation = {
 //              lat: position.coords.latitude,
 //              lng: position.coords.longitude
 //            };
 //            var circle = new google.maps.Circle({
 //              center: geolocation,
 //              radius: position.coords.accuracy
 //            });
 //            autocomplete.setBounds(circle.getBounds());
 //          });
 //        }
 //      }




getLocation();


 $('ul.tabs').tabs();

});




</script>

<link href="https://fonts.googleapis.com/css?family=Mada:900" rel="stylesheet">

  </head>

  <body>
<%= render 'layouts/navbar' %>

<div id="backgroundImage">

    <div class="main">
    <br><br>
    <%= yield %>
    </div>
    </div>
  </body>
</html>
