<!DOCTYPE html>
<html>
  <head>
    <title>CrowdGoal</title>
    <!-- <meta property="og:url" content="https://stormy-reef-34928.herokuapp.com/events">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CrowdGoal">
    <meta property="og:description" content="It is a social networking portal to create and organize events!">
    <meta property="fb:app_id" content="1303393716414144">
    <meta property="og:image" content="http://science-all.com/images/images/images-23.jpg">
    <meta property="og:site_name" content="CrowdGoal">
 -->

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Mada:900" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/timecircles/1.5.3/TimeCircles.js"></script>
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1303393716414144',
          xfbml      : true,
          version    : 'v2.9',
          cookie     : true,
          status     : true,
          oauth      : true
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk/debug.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>



    <%= render 'layouts/navbar' %>
      <div class="body-content">
      <!-- <br> -->
        <%= yield %>
  </div>

  <%= render '/layouts/sidebar' %>




      </body>
</html>